{% extends 'based.html' %}

{% block content %}

<div class="container-fluid" style="margin-top:100px">
    <div class="row">
        <h3 class="text-center">Shopping Cart</h3>
        <div class="col-7">
            <table class="table table-bordered bordefr-dark">
                <tr class="text-center">
                    <th colspan="6">
                        CART ITEMS
                    </th>
                </tr>
            </table>
        </div>
        <div class="col-4">
            <table class="table table-bordered bordefr-dark">
                <tr class="text-center">
                    <th colspan="6">
                        CHECK OUT
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}